<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <title>My first website</title>
    <link href="{{ url_for('static', filename='css/style.css') }}" rel="stylesheet">
</head>

<body>
    <h1> <strong>Witaj na mojej stronie domowej</strong></h1>
    <img src="https://art.ngfiles.com/images/663000/663185_psychedelicsamurai_some-guy.png?f1542748761" alt="Some guy">
    <h2>Kontakt</h2>
    <ul>
        <li>e-mail : +48-123456789</li>
        <li>telefon : jan.kowalski@gmail.pl</li>
    </ul>

    <form action="...">
        <textarea name="" id="" cols="10" rows="10"></textarea>
        <input type="submit" value="przeslij">
    </form>

</body>

</html>